<div class="card mb-4 shadow">
    <div class="card-header">Current GPA Scale</div>
    <div class="card-body">
        <form id="edit-gpa-form">
            <!--
        <div class="form-row">
                <div class="col-md-4 mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="inputGroupPrepend2" name='start'>
                    <input type="text" class="form-control" aria-describedby="inputGroupPrepend2" name='end'>
                  </div>
                </div>
              </div>
            -->

        </form>
        <button id="saveBtn" class="btn btn-primary" onclick="set_gpa_scale_from_form(); save_gpa_scale()">Save</button>
    </div>
</div>
