
                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add a course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="addCourseForm">
                    <div class="form-row">
                      <div class="col">
                        <input maxlength="8" type="text" class="form-control" placeholder="Course Code" id="course-name" value="" name="coursename" autocomplete="off">
                      </div>
                    </div>
                  </form>
                <div class="modal-footer">
                  <button id = "popupbtn" type="button" class="btn btn-primary" data-dismiss="modal" onclick="add_course(document.getElementById('course-name').value)"> <i class="fas fa-plus"></i> Add</button>
                </div>
              </div>
            </div>
          </div>