<div class="card mb-4 shadow" style="size:50vw;">
    <div class="card-body">
        <h4 class="card-title mb-3 font-weight-bold text">Grade Options</h4>
        <h6 class="card-title">Goal Percentage</h6>
        <div class="input-group">
            <input type="number" id = "gpa_goal"
                   class="form-control w-10 font-weight-light bg-light border-0 small"
                   placeholder="85.0" aria-describedby="basic-addon2"
                   onkeyup = "goal_percentage()">
        </div>
        <h6 class="card-title mt-3">Weight</h6>
        <div class="input-group">
            <input type="number" id = "next_weight"
                   class="form-control w-10 font-weight-light bg-light border-0 small"
                   placeholder="85.0" aria-describedby="basic-addon2"
                   onkeyup = "goal_percentage()">
        </div>
        <h6 class="font-weight-light mt-3" id="needed_gpa">Needed Grade:</h6>
        <h6 class="font-weight-light" id="needed_weight">Needed Weight:</h6>
        <h6 class="card-title mt-3">Max Grade Achievable (MGA)</h6>
        <div>
            <h6 class="font-weight-light mt-3" id="max_grade">Max Grade:</h6>
            <h6 class="font-weight-light" id="remain_weight">Remaining Weight:</h6>
        </div>
    </div>
</div>