    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3><a href="/">{{name}}</a></h3>
            </div>
            <ul id="course-list-sidebar">
                <!-- dynamically generated courses-->
            </ul>
        </nav>

        <!-- Page Content  -->
        {% include 'helpers/add_course_modal.html'  %}
        <div id="content" style="margin-top:100px;">

            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info outline-btn-blue">
                        <i id = "sidebarIcon" class="fas fa-align-left"></i>
                    </button>
                            <!-- Button for popup -->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto" id="nav-itemss">

                                <!--<li class="nav-item">
                                  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/settings">Settings</a>
                                </li>-->

                              </ul>
                            </div>
                        {% if page == 'main' %}
                        <button id="addbtn" type="button" class="btn btn-primary outline-btn-blue" data-toggle="modal" data-target=".bd-example-modal-sm">Add Course</button>
                        {% endif %}

                        {% if page == 'calc' %}
                        <button type="button" id="saveBtn" class="btn btn-primary outline-btn-blue" onclick="save_marks_in_courses()"><i class="fas fa-check"></i> Saved</button>
                        {% endif %}

                            <!--here-->
                </div>
            </nav>