{% include "helpers/header.html" %}
<div class="container-fluid">


    <h2 class="form-group">
        <div class="pl-3 pt-3 pr-3 m-3 row justify-content-between">
            <div class="col-xm-1">
                <h3 class="font-weight-bold course-header-text" contenteditable='True' id="course_name"> {{course_name}} </h3>
            </div>
            <div class="col-xm-1 align-self-center">
                <span class="font-weight-bold text-dark course-header-text" id="total_percent">0%</span>
            </div>
        </div>
    </h2>


    <div class="" id = "gpaForm">
        <!-- First row start -->
        <div class="row">
            <div class="col">
                {% include "helpers/course/gpaform.html" %}
                {% include "helpers/course/grade_options.html" %}
            </div>


            <div class="col">
                {% include "helpers/course/performance_overview.html" %}
                {% include "helpers/course/assessment_overview.html"%}
            </div>


        </div>
        <!-- First row end -->


        </div> <!-- gpa form -->
</div> <!-- container fluid -->

{% include "/helpers/footer.html" %}