{% include "helpers/header.html" %}
<div class="container-fluid">


    <h2 class="form-group">
        <div class="pl-3 pt-3 pr-3 m-3 row justify-content-between">
            <div class="col-xm-1">
                <h3 class="font-weight-bold course-header-text" id="course_name"> {{course_name}} </h3>
            </div>
            <div class="col-xm-1 align-self-center">
                <span class="font-weight-bold text-dark course-header-text" id="total_percent">0%</span>
            </div>
        </div>
    </h2>


    <div class="" id = "gpaForm">
        <div class="row"> <!-- First row start -->
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-body" id="sideBar">
                        <h4 class="card-title mb-3 font-weight-bold text">Grade Input</h4>
                        <form class="form-inline">
                    <!-- This part will be rendered by js -->
                    <!--  end of Js rendered parts-->
                        </form>
                    </div>
                    <span class="text mb-4 ml-4" id="total_weight">Total Weight:</span>
                </div>
            </div>
        </div> <!-- First row end -->

            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h4 class="card-title mb-3 font-weight-bold text">Performance Overview</h4>
                        <div class="row">
                            <div class="col">
                                <div class="chart-container">
                                    <canvas id="line_chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h4 class="card-title mb-3 font-weight-bold text">Assessment Overview</h4>
                        <div class="row">
                            <div class="col">
                                <div class="chart-container">
                                    <canvas id="bar_chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container fluid -->

{% include "/helpers/footer.html" %}