{% include "helpers/header.html" %}

<div class="container-fluid">
<div class="row">
   <div class="col">
      <h1 class = "header-main">Semester Overview</h1>
   </div>
</div>


<!--Table content-->
<div class="row">
   <div class="col">
<div id="main-table" class="card mb-4 shadow">
    <table id="dataTable" class="table">
       <thead class="thead-dark">
          <tr>
             <th scope="col">Course Code</th>
             <th>Percentage</th>
          </tr>
       </thead>
       <tbody id="course-overview-table">
         <!-- js generated -->
       </tbody>
    </table>
 </div>
 </div>
 <!--Graph-->
 <div class="col">
 <div id="graphCard" class="card mb-4 shadow">
    <div class="card-body">
       <div class="row">
          <div class="col">
             <div class="chart-container">
                <canvas id="myChart"></canvas>
             </div>
          </div>
       </div>
    </div>
 </div>
 </div>
 </div>
 <!-- End graph-->
 </div>

{% include "helpers/footer.html" %}