<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/dark.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" />
    <title>Hello, world!</title>
  </head>
  <body>
        <!-- As a heading -->
    <nav class="navbar navbar-light bg-light" id="nav">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" id='navbar' style='text-align: center;'>GPA CALCULATOR</span>
        </div>
    </nav>

      <div class="container">
        <p></p>
        <h1 class="text-center"></h1>
        <p></p>

        <form action='/calculate' method='post'>
          <div class="row">
            <div class="col"><p id="instruction">MARK (%)</p></div>
            <div class="col"><p id="instruction">WEIGHT</p></div>
          </div>
            <div class="row">
              <div class="col no-space">
                <input name='a1,mark' type="text" class="form-control" placeholder="85">
              </div>
              <div class="col no-space">
                <input name='a1,weight' type="text" class="form-control" placeholder="20.0">
              </div>
            </div>

            <div class="row">
                <div class="col no-space">
                  <input name='a2,mark' type="text" class="form-control" placeholder="85">
                </div>
                <div class="col no-space">
                  <input name='a2,weight' type="text" class="form-control" placeholder="20.0">
                </div>
              </div>

              <div class="row transparent">
                <div class="col no-space">
                  <input name='a3,mark' type="text" class="form-control trans-font" placeholder="85">
                </div>
                <div class="col no-space">
                  <input name='a3,weight' type="text" class="form-control trans-font" placeholder="20.0">
                </div>
              </div>

              <p></p>
              <button type="submit" class="btn btn-danger">Calculate</button>

          </form>


          {% if gpa %}
          <h1> GPA:  {{gpa}} </h1>
          {% endif %}

          {% if mark %}
          <h1> MARK:  {{mark}} </h1>
          {% endif %}
      </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="idk.js"></script>
  </body>
</html>