{% include "helpers/header.html" %}

<div class="container-fluid">

<div class="row">
   <div class="col">
      <h1 class = "header-main">Settings</h1>
   </div>
</div>


<div class="row">
    <div class="col">
        {% include "helpers/settings/gpa_scale.html" %}
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <button id="mode_button" type="button" onclick="change_site_mode();save_light_settings();" class="btn btn-light">Light Mode</button>
    </div>
</div>


</div>

{% include "helpers/footer.html" %}