    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Gpa Calculator</h3>
            </div>
            <ul id="course-list-sidebar">
                <!-- dynamically generated courses-->
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i id = "sidebarIcon" class="fas fa-align-left"></i>
                    </button>
                            <!-- Button for popup -->
                        <button id="addbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Add course</button>

                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add a course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form>
                    <div class="form-row">
                      <div class="col">
                        <input maxlength="8" type="text" class="form-control" placeholder="Course Code">
                      </div>
                    </div>
                  </form>
                <div class="modal-footer">
                  <button id = "cancelbtn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button id = "popupbtn" type="button" class="btn btn-primary">Add <i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="overlay"></div>

