#navbar {
    color: #0066ff;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.container {
    font-family: 'Space Mono', monospace;
}

#instruction {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em
}

body {
    background-color:  #e6f0ff;
}

h1 {
    color: black
    font-family: 'Space Mono', monospace;
    font-weight: bold
}